body{
    background-color: darkblue;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
    
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;

    background-color: #2a2424;
    color: rgb(240, 240, 240);

    border-bottom: solid 5px #ffd700;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #56dbdb;
}
.enemy {
    background-image: url('../images/ralph.png');
    background-size: cover;
    /*background-color: #ff0000;*/
}
.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2), 
.menu-score h2:nth-child(2){
    margin: 10px;
}